body {
	margin: 0;
}
.container {
	width: 100vw;
	height: 100vh;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	color: silver;
	text-transform: uppercase;
	overflow: hidden;
}

.slider {
	color: white;
	height: 50px;
	padding-left: 0.5em;
}

.slider div {
	height: 50px;
	margin-bottom: 50px;
	padding: 4px 2em;
	text-align: center;
	box-sizing: border-box;
}

.slider1 {
	background-color: slategray;
	animation: slider 3s ease infinite;
}
.slider2 {
	background-color: gray;
}
.slider3 {
	background-color: darkgray;
}

@keyframes slider {
	0% {
		margin-top: -300px;
	}
	5% {
		margin-top: -200px;
	}
	33% {
		margin-top: -200px;
	}
	38% {
		margin-top: -100px;
	}
	66% {
		margin-top: -100px;
	}
	71% {
		margin-top: 0;
	}
	100% {
		margin-top: 0;
	}
}
